name: Publish to NPM

on:
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main
  repository_dispatch:
    types: [trigger-publish]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
      
      - uses: actions/checkout@v4
        continue-on-error: true
        with:
          submodules: 'recursive'

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/

      - run: npm run bundle
      - run: npm pkg fix
      - run: npm publish --access public
          